#text
{
  margin-top: 20%;
  width: 851px;
  height: 60px;
  left: 252px;
  top: 100px;


  font-style: normal;
  font-weight: normal;
  font-size: 57.4254px;
  line-height: 93.8%;


  color: #2D9CDB;
}
